@import "../vendor/bootstrap/dist/css/bootstrap.min.css";
html,
body {
  height: 100%;
}
body {
  min-height: 305px;
}
#page-wrapper {
  min-height: 100%;
  position: relative;
  background-color: #218dd5;
}
/* circle icon default style */
.icon-circle-wrapper {
  text-align: center;
  position: relative;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
}
.icon-circle-wrapper a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
.icon-circle-wrapper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
#header .navbar-fixed-top {
  background-color: #218dd5;
  border-color: #1a70a9;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
#header .navbar-fixed-top .container a {
  color: #bbcfe3;
}
#header .navbar-fixed-top .container a:hover {
  color: #fff;
  background-color: transparent;
}
#header .navbar-fixed-top .container a.navbar-brand {
  color: #fff;
}
@media screen and (min-width: 768px) {
  #header {
    height: 51px;
  }
}
@media screen and (max-width: 767px) {
  #header .navbar-fixed-top {
    position: relative;
    margin: 0;
  }
  #header .navbar-fixed-top .navbar-collapse {
    border-color: #1a70a9;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  #header .navbar-fixed-top ul.navbar-nav {
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  #main {
    padding-bottom: 70px;
  }
  #main .icon-circle-wrapper {
    margin: 15px 32px;
  }
  #main .icon-container {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  #main {
    padding-bottom: 90px;
  }
  #main .icon-circle-wrapper {
    display: block;
    margin: 0 auto 50px;
  }
}
#main {
  margin: 0 auto;
}
#main .air-icons {
  margin: 0 auto;
  padding: 3em 0;
  text-align: center;
}
#main .air-icons .icon-circle-wrapper {
  color: #fff;
  width: 90px;
  height: 90px;
  font-size: 50px;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}
#main .air-icons .icon-circle-wrapper .air-circle-icon {
  margin-top: .4em;
}
#main .air-icons .icon-circle-wrapper:after {
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
#main .air-icons .icon-circle-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  -webkit-transform: scale(0.92);
  -moz-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
}
#main .air-icons .icon-circle-wrapper:hover:after {
  -webkit-animation: sonar 1s ease-out 25ms;
  -moz-animation: sonar 1s ease-out 25ms;
  animation: sonar 1s ease-out 25ms;
}
@-webkit-keyframes sonar {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 20px 8px #218dd5, 0 0 0 13px rgba(255, 255, 255, 0.5);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 20px 8px #218dd5, 0 0 0 13px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.6);
  }
}
@-moz-keyframes sonar {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 20px 8px #218dd5, 0 0 0 13px rgba(255, 255, 255, 0.5);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 20px 8px #218dd5, 0 0 0 13px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.6);
  }
}
@keyframes sonar {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 20px 8px #218dd5, 0 0 0 13px rgba(255, 255, 255, 0.5);
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 20px 8px #218dd5, 0 0 0 13px rgba(255, 255, 255, 0.5);
    transform: scale(1.6);
  }
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: right;
  color: #fff;
  padding-top: 20px;
}
#footer .footer-list {
  display: inline-block;
  margin: 0;
}
#footer .footer-list li {
  display: inline-block;
  padding: 5px 8px;
}
#footer .footer-list li .footer-icon {
  font-size: 14px;
  line-height: 18px;
}
#footer .footer-list li .fa-twitter {
  color: #55acee;
}
#footer .copyright {
  position: relative;
  top: 2px;
}
@media screen and (min-width: 768px) {
  #footer {
    height: 70px;
  }
}
@media screen and (max-width: 767px) {
  #footer {
    text-align: center;
    height: 90px;
  }
  #footer .footer-list {
    padding: 0;
    width: 100%;
  }
  #footer .footer-list li {
    display: block;
  }
  #footer .copyright {
    display: block;
  }
  #footer .gh {
    display: none;
  }
}
.about-content {
  color: #fff;
}
.about-content p {
  font-size: 20px;
  color: #beddff;
}
.gallery-wrapper {
  float: left;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
}
.gallery-wrapper a {
  display: inline-block;
  text-decoration: none;
}
.gallery-wrapper .img-holder {
  display: none;
  text-align: center;
}
.gallery-wrapper .img-holder:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.gallery-wrapper .img-holder span {
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
  /* experimental word-wrap:break-word */
  word-break: break-all;
}
#slider-modal .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#slider-modal .modal-content {
  background-color: #e4dfd2;
}
#slider-modal .modal-header {
  border-bottom: 1px solid #d1c8b2;
}
#content-slider {
  padding: 0;
  margin: 0 auto 30px;
  position: relative;
}
.dot-commands {
  position: relative;
  padding: 0;
  margin: 10px auto 0;
  width: 64px;
}
.dot-commands li {
  list-style: none;
  padding: 0;
  margin: 0 8px 0 0;
  float: left;
}
.dot-commands li .dot-cmd {
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  cursor: pointer;
}
.dot-commands .dot-animation:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #bd9b83;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  z-index: 20;
  -webkit-animation: doter 20s infinite;
  -moz-animation: doter 20s infinite;
  animation: doter 20s infinite;
}
#slider-show {
  width: 460px;
  height: 260px;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  position: relative;
  overflow: visible;
}
#slider-show .slider-list {
  width: 1000%;
  height: 250px;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
}
#slider-show .slider-list li {
  float: left;
  list-style: none;
  position: relative;
  overflow: hidden;
}
#slider-show .slider-list li .slider-tooltip {
  display: block;
  position: relative;
  width: 225px;
  background: rgba(0, 0, 0, 0.7);
  left: -300px;
  bottom: 70px;
  cursor: default;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#slider-show .slider-list li .slider-tooltip h1 {
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  padding: 0 0 0 20px;
  margin: 0;
}
#slider-show .slider-list li:hover .slider-tooltip {
  left: 0;
}
#slider-show .slider-list img {
  width: 450px;
  height: 250px;
}
#slider-show .slider-animation {
  -webkit-animation: slide 20s ease-in-out infinite;
  -moz-animation: slide 20s ease-in-out infinite;
  animation: slide 20s ease-in-out infinite;
}
#slider-show:hover .progress-animation,
#slider-show:hover .slider-animation,
#slider-show:hover + .dot-commands .dot-animation:after {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  animation-play-state: paused;
}
#slider-mask {
  height: 250px;
  overflow: hidden;
}
.progress-animation {
  position: relative;
  top: -5px;
  width: 450px;
  height: 5px;
  background: #000;
  -webkit-animation: expand 20s ease-in-out infinite;
  -moz-animation: expand 20s ease-in-out infinite;
  animation: expand 20s ease-in-out infinite;
}
@media (min-width: 992px) {
  #slider-show {
    width: 650px;
    height: 370px;
  }
  #slider-show .slider-list {
    height: 360px;
  }
  #slider-show .slider-list img {
    width: 640px;
    height: 360px;
  }
  #slider-mask {
    height: 360px;
  }
  .progress-animation {
    width: 640px;
  }
}
@media (max-width: 640px) {
  #slider-modal .modal-header {
    padding: 5px 15px;
  }
  #slider-show {
    width: 260px;
    height: 135px;
  }
  #slider-show .slider-list {
    height: 125px;
  }
  #slider-show .slider-list img {
    width: 250px;
    height: 125px;
  }
  #slider-mask {
    height: 125px;
  }
  .progress-animation {
    width: 250px;
  }
}
@keyframes expand {
  0%,
  25%,
  50%,
  75%,
  100% {
    width: 0%;
    opacity: 0;
  }
  5%,
  30%,
  55%,
  80% {
    width: 0%;
    opacity: .3;
  }
  20%,
  45%,
  70%,
  95% {
    width: 100%;
    opacity: .7;
  }
  21%,
  46%,
  71%,
  96% {
    width: 100%;
    opacity: .3;
  }
  22%,
  47%,
  72%,
  97% {
    width: 100%;
    opacity: 0;
  }
}
@-webkit-keyframes expand {
  0%,
  25%,
  50%,
  75%,
  100% {
    width: 0%;
    opacity: 0;
  }
  5%,
  30%,
  55%,
  80% {
    width: 0%;
    opacity: .3;
  }
  20%,
  45%,
  70%,
  95% {
    width: 100%;
    opacity: .7;
  }
  21%,
  46%,
  71%,
  96% {
    width: 100%;
    opacity: .3;
  }
  22%,
  47%,
  72%,
  97% {
    width: 100%;
    opacity: 0;
  }
}
@-moz-keyframes expand {
  0%,
  25%,
  50%,
  75%,
  100% {
    width: 0%;
    opacity: 0;
  }
  5%,
  30%,
  55%,
  80% {
    width: 0%;
    opacity: .3;
  }
  20%,
  45%,
  70%,
  95% {
    width: 100%;
    opacity: .7;
  }
  21%,
  46%,
  71%,
  96% {
    width: 100%;
    opacity: .3;
  }
  22%,
  47%,
  72%,
  97% {
    width: 100%;
    opacity: 0;
  }
}
@keyframes slide {
  0%,
  20%,
  100% {
    left: 0;
  }
  25%,
  45% {
    left: -100%;
  }
  50%,
  70% {
    left: -200%;
  }
  75%,
  95% {
    left: -300%;
  }
}
@-webkit-keyframes slide {
  0%,
  20%,
  100% {
    left: 0;
  }
  25%,
  45% {
    left: -100%;
  }
  50%,
  70% {
    left: -200%;
  }
  75%,
  95% {
    left: -300%;
  }
}
@-moz-keyframes slide {
  0%,
  20%,
  100% {
    left: 0;
  }
  25%,
  45% {
    left: -100%;
  }
  50%,
  70% {
    left: -200%;
  }
  75%,
  95% {
    left: -300%;
  }
}
@keyframes doter {
  0%,
  20%,
  100% {
    opacity: 1;
    left: 0;
  }
  22% {
    opacity: 0;
    left: 0;
  }
  23% {
    opacity: 0;
    left: 16px;
  }
  25%,
  45% {
    opacity: 1;
    left: 16px;
  }
  47% {
    opacity: 0;
    left: 16px;
  }
  48% {
    opacity: 0;
    left: 32px;
  }
  50%,
  70% {
    opacity: 1;
    left: 32px;
  }
  72% {
    opacity: 0;
    left: 32px;
  }
  73% {
    opacity: 0;
    left: 48px;
  }
  75%,
  95% {
    opacity: 1;
    left: 48px;
  }
  97% {
    opacity: 0;
    left: 48px;
  }
  98% {
    opacity: 0;
    left: 0;
  }
}
@-webkit-keyframes doter {
  0%,
  20%,
  100% {
    opacity: 1;
    left: 0;
  }
  22% {
    opacity: 0;
    left: 0;
  }
  23% {
    opacity: 0;
    left: 16px;
  }
  25%,
  45% {
    opacity: 1;
    left: 16px;
  }
  47% {
    opacity: 0;
    left: 16px;
  }
  48% {
    opacity: 0;
    left: 32px;
  }
  50%,
  70% {
    opacity: 1;
    left: 32px;
  }
  72% {
    opacity: 0;
    left: 32px;
  }
  73% {
    opacity: 0;
    left: 48px;
  }
  75%,
  95% {
    opacity: 1;
    left: 48px;
  }
  97% {
    opacity: 0;
    left: 48px;
  }
  98% {
    opacity: 0;
    left: 0;
  }
}
@-moz-keyframes doter {
  0%,
  20%,
  100% {
    opacity: 1;
    left: 0;
  }
  22% {
    opacity: 0;
    left: 0;
  }
  23% {
    opacity: 0;
    left: 16px;
  }
  25%,
  45% {
    opacity: 1;
    left: 16px;
  }
  47% {
    opacity: 0;
    left: 16px;
  }
  48% {
    opacity: 0;
    left: 32px;
  }
  50%,
  70% {
    opacity: 1;
    left: 32px;
  }
  72% {
    opacity: 0;
    left: 32px;
  }
  73% {
    opacity: 0;
    left: 48px;
  }
  75%,
  95% {
    opacity: 1;
    left: 48px;
  }
  97% {
    opacity: 0;
    left: 48px;
  }
  98% {
    opacity: 0;
    left: 0;
  }
}
