@import "../../../../css/air-variables";

#file-upload-modal {
  .file-op {
    .file-select-btn {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        height: 100%;
      }
    }
  }
  .file-drop-zone {
    width: 100%;
    margin-top: 20px;
    height: 200px;
    background-color: #eaeaea;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 0 20px 20px;
    .upload-item {
      border-top: 1px solid transparent;
      border-bottom: 1px solid #999;
      padding: 10px 0;
      margin: auto 0;
      line-height: 34px;
      .file-del-btn {
        max-width: 70px;
        line-height: 20px;
      }
      &:first-child {
        display: none;
        &.active {
          display: block;
        }
        span {
          font-weight: bold;
        }
        .file-del-btn {
          visibility: hidden;
        }
      }
    }
    .drop-message {
      padding: 20px;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  #file-upload-modal {
    .file-name, .file-size {
      padding: 0 10px;
    }
  }
}