@import "../../../../css/air-variables";
@import "../../../../css/air-mixins";

#slider-modal {
  .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    .transform(translate(-50%, -50%));
  }
  .modal-content {
    background-color: @slider-content-bg;
  }
  .modal-header {
    border-bottom: 1px solid darken(@slider-content-bg, 10%);
  }
}

#content-slider {
  padding: 0;
  margin: 0 auto 30px;
  position: relative;
}

.dot-commands {
  position: relative;
  padding: 0;
  margin: 10px auto 0;
  width: 64px;
  li {
    list-style: none;
    padding: 0;
    margin: 0 8px 0 0;
    float: left;
    .dot-cmd {
      position: relative;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: #fff;
      display: inline-block;
      cursor: pointer;
    }
  }
  .dot-animation:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #bd9b83;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    z-index: 20;
    .animation(doter 20s infinite);
  }
}

#slider-show {
  width: @slider-img-width+10;
  height: @slider-img-height+10;
  border: 5px solid #eaeaea;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
  margin: 0 auto;
  position: relative;
  overflow: visible;
  .slider-list {
    width: 1000%;
    height: @slider-img-height;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    li {
      float: left;
      list-style: none;
      position: relative;
      overflow: hidden;
      .slider-tooltip {
        display: block;
        position: relative;
        width: @slider-img-width/2;
        background: rgba(0, 0, 0, .7);
        left: -300px;
        bottom: 70px;
        cursor: default;
        .transition(all 0.2s ease-in-out);
        h1 {
          line-height: 50px;
          color: #fff;
          font-size: 24px;
          font-weight: 300;
          padding: 0 0 0 20px;
          margin: 0;
        }
      }
      &:hover .slider-tooltip {
        left: 0;
      }
    }
    img {
      width: @slider-img-width;
      height: @slider-img-height;
    }
  }
  .slider-animation {
    .animation(slide 20s ease-in-out infinite);
  }
  &:hover {
    .progress-animation, .slider-animation, + .dot-commands .dot-animation:after {
      .animation-play-state(paused);
    }
  }
}

#slider-mask {
  height: @slider-img-height;
  overflow: hidden;
}

.progress-animation {
  position: relative;
  top: -5px;
  width: @slider-img-width;
  height: 5px;
  background: #000;
  .animation(expand 20s ease-in-out infinite);
}

@media (min-width: @screen-md) {
  #slider-show {
    width: @slider-img-width-md+10;
    height: @slider-img-height-md+10;
    .slider-list {
      height: @slider-img-height-md;
      img {
        width: @slider-img-width-md;
        height: @slider-img-height-md;
      }
    }
  }

  #slider-mask {
    height: @slider-img-height-md;
  }

  .progress-animation {
    width: @slider-img-width-md;
  }
}

@media (max-width: @screen-sm) {
  #slider-modal .modal-header {
    padding: 5px 15px;
  }

  #slider-show {
    width: @slider-img-width-sm+10;
    height: @slider-img-height-sm+10;
    .slider-list {
      height: @slider-img-height-sm;
      img {
        width: @slider-img-width-sm;
        height: @slider-img-height-sm;
      }
    }
  }

  #slider-mask {
    height: @slider-img-height-sm;
  }

  .progress-animation {
    width: @slider-img-width-sm;
  }
}

@keyframes expand {
  0%, 25%, 50%, 75%, 100% {
    width: 0%;
    opacity: 0;
  }
  5%, 30%, 55%, 80% {
    width: 0%;
    opacity: .3;
  }
  20%, 45%, 70%, 95% {
    width: 100%;
    opacity: .7;
  }
  21%, 46%, 71%, 96% {
    width: 100%;
    opacity: .3;
  }
  22%, 47%, 72%, 97% {
    width: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes expand {
  0%, 25%, 50%, 75%, 100% {
    width: 0%;
    opacity: 0;
  }
  5%, 30%, 55%, 80% {
    width: 0%;
    opacity: .3;
  }
  20%, 45%, 70%, 95% {
    width: 100%;
    opacity: .7;
  }
  21%, 46%, 71%, 96% {
    width: 100%;
    opacity: .3;
  }
  22%, 47%, 72%, 97% {
    width: 100%;
    opacity: 0;
  }
}

@-moz-keyframes expand {
  0%, 25%, 50%, 75%, 100% {
    width: 0%;
    opacity: 0;
  }
  5%, 30%, 55%, 80% {
    width: 0%;
    opacity: .3;
  }
  20%, 45%, 70%, 95% {
    width: 100%;
    opacity: .7;
  }
  21%, 46%, 71%, 96% {
    width: 100%;
    opacity: .3;
  }
  22%, 47%, 72%, 97% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes slide {
  0%, 20%, 100% {
    left: 0;
  }
  25%, 45% {
    left: -100%;
  }
  50%, 70% {
    left: -200%;
  }
  75%, 95% {
    left: -300%;
  }
}

@-webkit-keyframes slide {
  0%, 20%, 100% {
    left: 0;
  }
  25%, 45% {
    left: -100%;
  }
  50%, 70% {
    left: -200%;
  }
  75%, 95% {
    left: -300%;
  }
}

@-moz-keyframes slide {
  0%, 20%, 100% {
    left: 0;
  }
  25%, 45% {
    left: -100%;
  }
  50%, 70% {
    left: -200%;
  }
  75%, 95% {
    left: -300%;
  }
}

@keyframes doter {
  0%, 20%, 100% {
    opacity: 1;
    left: 0;
  }
  22% {
    opacity: 0;
    left: 0;
  }
  23% {
    opacity: 0;
    left: 16px;
  }
  25%, 45% {
    opacity: 1;
    left: 16px;
  }
  47% {
    opacity: 0;
    left: 16px;
  }
  48% {
    opacity: 0;
    left: 32px;
  }
  50%, 70% {
    opacity: 1;
    left: 32px;
  }
  72% {
    opacity: 0;
    left: 32px;
  }
  73% {
    opacity: 0;
    left: 48px;
  }
  75%, 95% {
    opacity: 1;
    left: 48px;
  }
  97% {
    opacity: 0;
    left: 48px;
  }
  98% {
    opacity: 0;
    left: 0;
  }
}

@-webkit-keyframes doter {
  0%, 20%, 100% {
    opacity: 1;
    left: 0;
  }
  22% {
    opacity: 0;
    left: 0;
  }
  23% {
    opacity: 0;
    left: 16px;
  }
  25%, 45% {
    opacity: 1;
    left: 16px;
  }
  47% {
    opacity: 0;
    left: 16px;
  }
  48% {
    opacity: 0;
    left: 32px;
  }
  50%, 70% {
    opacity: 1;
    left: 32px;
  }
  72% {
    opacity: 0;
    left: 32px;
  }
  73% {
    opacity: 0;
    left: 48px;
  }
  75%, 95% {
    opacity: 1;
    left: 48px;
  }
  97% {
    opacity: 0;
    left: 48px;
  }
  98% {
    opacity: 0;
    left: 0;
  }
}

@-moz-keyframes doter {
  0%, 20%, 100% {
    opacity: 1;
    left: 0;
  }
  22% {
    opacity: 0;
    left: 0;
  }
  23% {
    opacity: 0;
    left: 16px;
  }
  25%, 45% {
    opacity: 1;
    left: 16px;
  }
  47% {
    opacity: 0;
    left: 16px;
  }
  48% {
    opacity: 0;
    left: 32px;
  }
  50%, 70% {
    opacity: 1;
    left: 32px;
  }
  72% {
    opacity: 0;
    left: 32px;
  }
  73% {
    opacity: 0;
    left: 48px;
  }
  75%, 95% {
    opacity: 1;
    left: 48px;
  }
  97% {
    opacity: 0;
    left: 48px;
  }
  98% {
    opacity: 0;
    left: 0;
  }
}