.gallery-wrapper {
  float: left;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
}
.gallery-wrapper a {
  display: inline-block;
  text-decoration: none;
}
.gallery-wrapper .img-holder {
  display: none;
  text-align: center;
}
.gallery-wrapper .img-holder:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.gallery-wrapper .img-holder span {
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
  /* experimental word-wrap:break-word */

  word-break: break-all;
}
